@font-face {
  font-family: 'Boska-Variable';
  src: url('../fonts/Boska-Variable.woff2') format('woff2');
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Boska-VariableItalic';
  src: url('../fonts/Boska-VariableItalic.woff2') format('woff2');
  font-weight: 200 900;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'PlusJakartaSans-Variable';
  src: url('../fonts/PlusJakartaSans-Variable.woff2') format('woff2'),
       url('../fonts/PlusJakartaSans-Variable.woff') format('woff'),
       url('../fonts/PlusJakartaSans-Variable.ttf') format('truetype');
  font-weight: 200 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'PlusJakartaSans-VariableItalic';
  src: url('../fonts/PlusJakartaSans-VariableItalic.woff2') format('woff2'),
       url('../fonts/PlusJakartaSans-VariableItalic.woff') format('woff'),
       url('../fonts/PlusJakartaSans-VariableItalic.ttf') format('truetype');
  font-weight: 200 800;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('../fonts/ClashDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('../fonts/ClashDisplay-Variable.woff2') format('woff2');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}