@font-face {
  font-family: 'Boska-Variable';
  src: url('../fonts/Boska-Variable.woff2') format('woff2');
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Boska-VariableItalic';
  src: url('../fonts/Boska-VariableItalic.woff2') format('woff2');
  font-weight: 200 900;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'PlusJakartaSans-Variable';
  src: url('../fonts/PlusJakartaSans-Variable.woff2') format('woff2'),
       url('../fonts/PlusJakartaSans-Variable.woff') format('woff'),
       url('../fonts/PlusJakartaSans-Variable.ttf') format('truetype');
  font-weight: 200 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'PlusJakartaSans-VariableItalic';
  src: url('../fonts/PlusJakartaSans-VariableItalic.woff2') format('woff2'),
       url('../fonts/PlusJakartaSans-VariableItalic.woff') format('woff'),
       url('../fonts/PlusJakartaSans-VariableItalic.ttf') format('truetype');
  font-weight: 200 800;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('../fonts/ClashDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('../fonts/ClashDisplay-Variable.woff2') format('woff2');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
:root{
  --color-primary: hsl(31, 73%, 10%);
  --color-primary2: hsl(34, 51%, 92%);
  --color-secondary:  hsl(60, 3%, 15%);
  --color-secondary2: hsl(33, 65%, 47%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary);
}
#skip-to-content {
  opacity: 0;
  z-index: 1000;
  position: absolute;
  top: -100%;
  left: 0.25rem;
  padding: 0.35rem 1rem 0.5rem 1rem;
  border: none;
  border-radius: 0 0 8px 8px;
  color: var(--color-primary2);
  font-weight: 600;
  font-size: 0.75rem;
  font-family: 'PlusJakartaSans-Variable', sans-serif;
  text-decoration: none;
  background-color: var(--color-secondary2);
  transition: all 0.15s ease;
}
#skip-to-content:focus {
  opacity: 1;
  top: 0; 
  border: none;
  outline: 1px solid var(--color-primary2);
}